/* STYLE PRESETS DO NOT ALTER THIS SECTION */
h1, h2, h3, h4, h5, h6 {
    margin-top:10px;
}

p {
    font-size:16px;
}

.fab, .far {
    font-size:30px;
    margin-left:5px;
    margin-right:5px;
}

/* PLACE YOUR CUSTOM CODE HERE */
.petstore-logo {
	height: 30px;
	margin-top: 10px;
}

.navbar {
	margin-bottom: 0;
}

.navbar-default .navbar-brand {
	font-family: 'Satisfy', cursive;
	font-size: 30px;
	color: #f27878;
  text-shadow: 2px 2px 3px #afafaf;
}

.navbar-default .navbar-brand:hover {
  color: #f2abab;
  text-shadow: 2px 2px 3px #afafaf;
}

.jumbotron {
	background-image: url("../img/hero.jpg");
	background-size: cover;
	padding: 100px 0 150px 0;
}

.jumbotron-text {
	margin: 50px auto;
	color: #fff;
}

.jumbotron container h3 {
	color: #fff;
}

.cat-toys, .dog-toys {
	padding: 20px 0;
	font-family: 'Open Sans', sans-serif;
}

.cat-toys h2, .dog-toys h2 {
	font-weight: 700;
}

.glyphicon-heart-empty {
	font-size: 25px;

}

.footer-cards {
	background-color: #dce6f7;
	padding: 30px 0;
	font-family: 'Open Sans', sans-serif;
}

.footer-cards h3 {
	font-weight: 700;
}

.footer {
	background-color: #111;
	color: #fff;
	padding: 30px 0;
}

.fab:hover {
  color: #f27878;
}

.btn, .btn:link, .btn:visited, .btn:hover, .btn:active {
  background-color: #f27878;
  color: #fff;
}

/* contact page css  */

.contact-info {
	font-family: 'Open Sans', sans-serif;
}

.contact-info h2 {
	font-weight: 700;
}

.contact-container {
	margin: 30px 0;
}

.google-map-md.embed-responsive-4by3 {
	padding-bottom: 40%;
}

.google-map-sm.embed-responsive-4by3 {
	padding-bottom: 70%;
}
